apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  labels:
    purpose: dp-demo
    project: roboshop
spec:
  replicas: 5
  selector:
    matchLabels:
      purpose: headless-svc-demo
      project: roboshop
  template:
    metadata:
      labels:
        purpose: headless-svc-demo
        project: roboshop
    spec:
      containers:
      - name: nginx
        image: nginx:latest
---
apiVersion: v1 
kind: Service
metadata:
  name: nginx  
spec:
  type: LoadBalancer
  selector:
    purpose: headless-svc-demo
    project: roboshop
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
---
apiVersion: v1 
kind: Service
metadata:
  name: nginx-headless
spec:
  # If a service has clusterIP none is headless service
  clusterIP: None
  selector:
    purpose: headless-svc-demo
    project: roboshop
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80